$color-fff: #fff;
$color-000: #000;
$color-777: #777;
$color-ccc: #ccc;
$color-999: #999;
$color-af2f2f: #af2f2f;
$color-e6e6e6: #e6e6e6;
$color-ededed: #ededed;
$color-d9d9d9: #d9d9d9;
$color-cc9a9a: #cc9a9a;
$color-f6f6f6: #f6f6f6;